@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
}

form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

::placeholder {
    color: #34209a80;
    animation: placeholder 1s ease-in-out infinite;
    font-style: italic;
}




@keyframes placeholder {
    0% {
        color: #34209a80;
    }
    50% {
        color: #00000000;
    }
    100% {
        color: #34209a80;
    }
}
