body {
        background: linear-gradient(to right, rgb(241, 205, 252), rgb(187, 197, 255), rgb(255, 183, 183), rgb(155, 255, 238), rgb(149, 255, 149));
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
        background-color: rgba(0, 153, 255, 0.301);
        color: rgb(255, 255, 255);
        border: 0px solid rgba(255, 255, 0, 0.575);
        border-radius: 200px;
        padding: 20px;
        margin-bottom: 5px;
        object-fit: cover;
        border-style: ridge;
        font-size: 35px;
        
}

h2 {
        background-color: rgba(0, 204, 255, 0.473);
        color: rgb(255, 255, 255);
        border: 5px;
        padding: 20px;
        border-radius: 20px;
}

div {
        border: 5px;
        padding: 20px;
        border-radius: 20px; 
        border: 0px solid rgba(255, 255, 0, 0.575);  
        background-color: white;
        box-shadow: 0 0 5px #4093ff, 0 0 10px #ff5e5e, 0 0 20px #5cfa5c;
}

.underline:hover {
        text-decoration: underline;
}

.MdeCor:hover {
        color:black;
        transition: color 1.3s ease-in-out;
}

.Fundo:hover {
        background-color: black;
        transition: background-color 1.3s ease-in-out;
}

.shadow:hover {
        text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 20px #000000;
        transition: text-shadow 1.3s ease-in-out;
}

