body {
    background-color: rgba(152, 255, 255, 0.384);
}

h1 {
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border: 10px solid darkslategray;
    padding: 10px;
    margin: 20px auto 40px auto;
    outline: 5px dashed salmon;
}

h2 {
    font-size: 30px;
    border: 16px solid;
    padding: 10px;
    border-image: url(borda2.png) 33 repeat;
}

h3 {
    font-size: 20px;
    border: 16px solid;
    padding: 10px;
    border-image: url(borda.png) 33 repeat;
}

h4 {
    font-size: 20px;
    border: 16px solid;
    padding: 10px;
    border-image: url(logo_dmoreira.png) 33 stretch;
}
